
@{
    ViewData["Title"] = "Index";
    Layout = "_PageWithNavLayout";
}
<div style="display: flex; justify-content: center; align-items: center; height: 20vh;">

    <h1 >Your Order Sent Successfully</h1>
   

</div>
<div style="display: flex; justify-content: center; align-items: center; height: 5vh;">

    <a style="margin-right:30px" href="/Order/ShowOrders" class="btn btn-primary">Show my orders</a>
    <a href="/Order/AskService" class="btn btn-primary">Back</a>

</div>
   



